html {
    scroll-behavior: smooth;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 4rem;
    margin-top: 1rem;   
    .link{
        text-decoration: none;
        color: #0065BD;
        padding-left: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.container{
    margin-top: 5rem;
    text-align: center;
    > h1{
        font-weight: 900;
        font-size: 2rem;
    }

   .deprem{
    text-align: center;
    .inTable{
        pointer-events: none ;
    }
    tr{ 
        
        color: #000000;
        background: #fff;
        border-bottom: #000000;
        &:hover{
            background:#0065BD;
            color:#fff;
            } 
        }
    th{
        color: #0065BD;
        padding: 6px 6px 6px 12px;
        pointer-events: none ;
        }

         
        td{
        padding: 6px 6px 6px 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        }
    .al{
        text-align: left;
    }
    }
    .tpSearch{
        height: 3rem;
        width: 100%;
        padding-left: 1rem;
        border-radius: 2rem;
        border-color: #0065BD;
        &::placeholder{
            font-size: 1rem;
            font-weight: 600;
        }
    }
    .tpTable{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        text-align: left;
        .tpInTable{
            pointer-events: none ;
        }
        tr{ 
            color: #000000;
            background: #fff;
            border-bottom: #000000;
            &:hover{
                background:#0065BD;
                color:#fff;
                } 
            }
        th{
            text-align: center;
            color: #0065BD;
            padding: 6px 6px 6px 12px;
            pointer-events: none ;
            }
    
             
            td{
            margin-left: 1rem;
            padding: 6px 6px 6px 12px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            }
        }
    }


   @media screen and (max-width: 768px) {
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
        .tpSearch{
            width: 75%;
        }
    }
    .deprem{
        font-size: .8rem;
        text-align: left;
    }
   }
    
   
   .yardim {
    color: black;
    background-color: white;
    display: flex;
    width: 100%;

    &-head {
        color: #0065BD;
        font-size: 45px;
        text-transform: capitalize;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;

        &-m {
            color: #0065BD;
            font-size: 40px;
            text-transform: capitalize;
            margin-bottom: 10px;
            text-align: center;
        }

        &-o {
            color: #0065BD;
            font-size: 35px;
            text-align: center;
            text-decoration: underline;
            text-transform: capitalize;
            margin-bottom: 50px;
            margin-right: 60px;
        }

    }

    div {
        width: 100%;
    }

    &-past {

        p {
            padding-left: 50px;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
        }
    }



    .section-y-1 {
        display: flex;

        .school-head {
            color: #0065BD;
            font-size: 30px;
            text-align: left;
            padding-top: 30px;
            text-decoration: underline;
            text-transform: capitalize;
            margin-bottom: 10px;
            margin-left: 50px;
        }

        h4 {
            color: #0065BD;
            font-size: 25px;
            text-align: left;
            text-decoration: underline;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        .sec-img {
            text-align: center;
            margin-left: 40px;
            flex-basis: 50%;
    
            img {
                width: 60%;
                height: auto;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            }
        }

    }

   


    .sec-p {
        flex-basis: 50%;
        margin-right: 40px;

        p {
            font-size: 15px;
            text-align: left;
            margin-bottom: 20px;
        }

        &-i {
            display: flex;
        }

    }

    &-div {

        ul {
            padding-left: 15px;

            li {
                padding-bottom: 10px;
            }
        }

    }

    .line4 {
        background-color: #242424;
        height: 10px;
        margin: 20px 3.5%;
        width: 93%;
    }

}
