html {
    scroll-behavior: smooth;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 4rem;
    margin-top: 1rem;   
    ul{
        list-style: none;
        margin-top: 3rem;
        .link{
            text-decoration: none;
            color: #0065BD;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

.container{
    margin-top: 5rem;
    text-align: center;
    > h1{
        font-weight: 900;
        font-size: 2rem;
    }

   .deprem{
    text-align: center;
    .inTable{
        pointer-events: none ;
    }
    tr{ 
        
        color: #000000;
        background: #fff;
        border-bottom: #000000;
        &:hover{
            background:#0065BD;
            color:#fff;
            } 
        }
    th{
        color: #0065BD;
        padding: 6px 6px 6px 12px;
        pointer-events: none ;
        }

         
        td{
        padding: 6px 6px 6px 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        }
    .al{
        text-align: left;
    }
    }
    .tpSearch{
        height: 3rem;
        width: 100%;
        padding-left: 1rem;
        border-radius: 2rem;
        border-color: #0065BD;
        &::placeholder{
            font-size: 1rem;
            font-weight: 600;
        }
    }
    .tpTable{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        text-align: left;
        .tpInTable{
            pointer-events: none ;
        }
        tr{ 
            color: #000000;
            background: #fff;
            border-bottom: #000000;
            &:hover{
                background:#0065BD;
                color:#fff;
                } 
            }
        th{
            text-align: center;
            color: #0065BD;
            padding: 6px 6px 6px 12px;
            pointer-events: none ;
            }
    
             
            td{
            margin-left: 1rem;
            padding: 6px 6px 6px 12px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            }
        }
    .hastaTable{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        text-align: left;
        .hastaInTable{
            pointer-events: none ;
        }
        tr{ 
            color: #000000;
            background: #fff;
            border-bottom: #000000;
            &:hover{
                background:#0065BD;
                color:#fff;
                } 
            }
        th{
            text-align: center;
            color: #0065BD;
            padding: 6px 6px 6px 12px;
            pointer-events: none ;
            }
    
             
            td{
            margin-left: 1rem;
            padding: 6px 6px 6px 12px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            }
        }
        .hastaTable{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            text-align: center;
            .hastaInTable{
                pointer-events: none ;
            }
            tr{ 
                color: #000000;
                background: #fff;
                border-bottom: #000000;
                &:hover{
                    background:#0065BD;
                    color:#fff;
                    } 
                }
            th{
                text-align: center;
                color: #0065BD;
                padding: 6px 6px 6px 12px;
                pointer-events: none ;
                }
        
                 
                td{
                margin-left: 1rem;
                padding: 6px 6px 6px 12px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                }
            }
    }
    


   @media screen and (max-width: 768px) {
    .container{
        width: 100%;
        margin-top: 5rem;
        padding: 0;
        .depremKayip{
            font-size: 1.5rem;
        }
        .tpSearch{
            width: 75%;
        }
        .hastaTable{
                td{
                    text-align: left;
                    word-wrap: break-word;
                    max-width: 100px;
                }
        }
    }
    
    .deprem{
        font-size: .8rem;
        text-align: left;
    
   }
}
    
   